/* THE FONT-STYLES FOR THIS PAGE */
.FontWelcome {
    font-family: 'Comfortaa', sans-serif;
    font-size: 22px;
    font-weight: bold;
    color: #333333;
    }
    .FontHomeStandard {
    font-family: 'Comfortaa', sans-serif;
    font-size: 20px;
    font-weight: normal;
    color: #333333;
    }
    .FontFormStandard {
    font-family: 'Comfortaa', sans-serif;
    font-size: 16px;
    font-weight: normal;
    color: #333333;
    }
    .FontFormInput {
    font-family: 'Comfortaa', sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #333333;
    }
    .FontActionButton {
    font-family: 'Comfortaa', sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #EFEFEF;
    }
    .FontShellHead {
    font-family: 'Ubuntu Mono', monospace;
    font-size: 18px;
    font-weight: 100;
    color: #EFEFEF;
    }
    .FontShellBody {
    font-family: 'Ubuntu Mono', monospace;
    font-size: 16px;
    font-weight: 400;
    color: #EFEFEF;
    }
    
    /* FOLLOWING CODE IS FOR THE PAGE-LAYOUT */
    
    .BoxMainContent {
    display: grid;              // USE A GRID-LAYOUT FOR THE MAIN-DIV
    align-content: start;       // ALIGN THE CONTENT VERTICAL AT THE TOP
    justify-content: center;    // ALIGN THE CONTENT HORIZONTALLY IN THE CENTER
    position: absolute;         // WE NEED AN ABSOLUTE POSITION, TO MAKE USE OF TOP,LEFT,RIGHT,BOTTOM
    top: 0px;
    left: 0;
    right: 0;
    bottom: 0px;
    overflow-y: auto;           // SHOW SCROLLBARS ON THE Y-AXIS (IF NEEDED)
    overflow-x: hidden;         // NEVER EVER SCROLL THE CONTENT ON THE X-AXIS
    margin: 0px 0px 0px 0px;    // TOP LEFT BOTTOM RIGHT
    padding: 0px 0px 0px 0px;
    background-color: none;
    border: none;
    background: none;
    z-index: 50;
    }
    
    .BoxBlockContent {
    border: none;
    background-color: none;
    display: flex;
    position: relative;
    align-content: center;
    justify-content: center;
    padding: 0px 0px 0px 0px;
    }
    
    .PageTopSpacer {
    width: 200px;
    height: 80px;
    border: none;
    border-radius: 0px;
    margin: 0px 0px 0px 0px;       // TOP / RIGHT / BOTTOM / LEFT
    padding: 0px 0px 0px 0px;
    //background-color: #444444;
    overflow: hidden;
    align-items: center;
    justify-items: center;
    }
    
    .PageMidSpacer {
    width: 200px;
    height: 40px;
    border: none;
    border-radius: 0px;
    margin: 0px 0px 0px 0px;       // TOP / RIGHT / BOTTOM / LEFT
    padding: 0px 0px 0px 0px;
    //background-color: #444444;
    overflow: hidden;
    align-items: center;
    justify-items: center;
    }
    
    .PageEndSpacer {
    width: 200px;
    height: 120px;
    border: none;
    border-radius: 0px;
    margin: 0px 0px 0px 0px;       // TOP / RIGHT / BOTTOM / LEFT
    padding: 0px 0px 0px 0px;
    //background-color: #444444;
    overflow: hidden;
    align-items: center;
    justify-items: center;
    }
    
    .WelcomeHeadBox {
    width: 600px;
    align-items: center;
    justify-items: center;
    margin: 10px 0px 20px 0px;
    }
    
    .WelcomeBodyBox {
    width: 600px;
    align-items: center;
    justify-items: center;
    margin: 10px 0px 10px 0px;
    }
    
    .BottomText {
    width: 600px;
    align-items: center;
    justify-items: center;
    margin: 0px 0px 0px 0px;
    padding: 40px 0px 40px 0px;
    }
    
    .ActionForm {
    width: 600px;
    align-items: center;
    justify-items: center;
    margin: 20px 0px 0px 0px;
    padding: 10px 10px 10px 10px;
    background-color: #DFDFDF;
    border: 2px solid rgba(51, 51, 51, 0.75);
    border-radius: 10px;
    }
    
    .FormInput {
    width: 220px;
    height: 28px;
    background-color: #BDBDBD;
    border: 2px solid rgba(51, 51, 51, 0.75);
    border-radius: 5px;
    text-align: left;
    vertical-align: middle;
    font-size: 14px;
    padding: 0px 5px 0px 5px;
    }
    
    .FormInputError {
    width: 220px;
    height: 28px;
    background-color: #cc2c00;
    border: 2px solid rgba(51, 51, 51, 0.75);
    border-radius: 5px;
    text-align: left;
    vertical-align: middle;
    font-size: 14px;
    padding: 0px 5px 0px 5px;
    }
    
    .FormSelect {
    width: 234px;
    height: 32px;
    background-color: #BDBDBD;
    border: 2px solid rgba(51, 51, 51, 0.75);
    border-radius: 5px;
    text-align: left;
    vertical-align: middle;
    font-size: 14px;
    padding: 0px 5px 0px 5px;
    }
    
    .FormSelectError {
    width: 234px;
    height: 32px;
    background-color: #cc2c00;
    border: 2px solid rgba(51, 51, 51, 0.75);
    border-radius: 5px;
    text-align: left;
    vertical-align: middle;
    font-size: 14px;
    padding: 0px 5px 0px 5px;
    }
    
    .ActionBox {
    width: 200px;
    height: 40px;
    background-color: #525252;
    border: 1px solid rgba(00, 00, 00, 0.75);
    border-radius: 8px;
    vertical-align: middle;
    margin: 0px 0px 0px 0px;
    padding: 0px 5px 0px 5px;
    // SET AN "ANIMATION" TRANSITION OF 0.5 SECONDS ('ease' is for smoother effect)
    transition: box-shadow 0.2s ease, background-color 0.2s ease;
    }
    
    .ActionBox:hover {
    box-shadow: 6px 8px 15px rgba(51, 51, 51, 0.8);
    cursor: pointer;
    background-color: #636363;
    }
    
    .BoxShellWindow {
    width: 600px;
    height: 110px;
    background-color: rgba(51, 51, 51, 1.0);
    border: 2px solid rgba(0, 0, 0, 0.75);
    border-radius: 8px;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    overflow: hidden;
    flex-wrap: wrap;
    }
    
    .ActionCopy {
    width: 200px;
    height: 40px;
    background-color: #525252;
    border: 1px solid rgba(00, 00, 00, 0.75);
    border-radius: 8px;
    vertical-align: middle;
    margin: 20px 0px 20px 0px;
    padding: 0px 5px 0px 5px;
    // SET AN "ANIMATION" TRANSITION OF 0.5 SECONDS ('ease' is for smoother effect)
    transition: box-shadow 0.2s ease, background-color 0.2s ease;
    }
    
    .ActionCopy:hover {
    box-shadow: 6px 8px 15px rgba(51, 51, 51, 0.8);
    cursor: pointer;
    background-color: #636363;
    }
    
    /* FOLLOWING CODE IS ONLY FOR THE TOGGLE */
    
    .switch-container {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 28px;
    cursor: pointer;
    transform: scale(0.8);
    }
    
    .switch-checkbox {
    opacity: 0;
    width: 0;
    height: 0;
    }
    
    .switch-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #666666;
    transition: .4s;
    }
    
    .switch-slider:before {
    position: absolute;
    content: "";
    height: 22px;
    width: 22px;
    left: 3px;
    bottom: 3px;
    background-color: #DFDFDF;
    transition: .4s;
    }
    
    .switch-checkbox:checked + .switch-slider {
    background-color: #23b628;
    }
    
    .switch-checkbox:checked + .switch-slider:before {
    transform: translateX(22px);
    }
    
    .switch-slider.round {
    border-radius: 34px;
    }
    
    .switch-slider.round:before {
    border-radius: 50%;
    }
    
    .switch-label {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
    font-size: 18px;
    padding-left: 50px;
    }