# See http://help.github.com/ignore-files/ for more about ignoring files.

# THIS WILL ENSURE THAT THE DEVELOPER FILES ARE NOT UPLOADED
/development
/development/*

# THIS WILL ENSURE THAT THE ".backup"-FOLDER WILL NOT BE UPLOADED
/.backup
/.backup/*

# System files
.DS_Store
Thumbs.db
