<app-ui-header></app-ui-header>

<div id="BoxMainContent" name="BoxMainContent" class="BoxMainContent">
    <!-- SPACER - THIS ONE IS IMPORTANT TO GET THE DISTANCE FROM THE TO (SO THE CONTENT WILL NOT BE HIDDEN BY THE HEADER) -->
    <div class="BoxBlockContent">
        <div class="PageTopSpacer">
            <table style="width: 100%; border-collapse:collapse; justify-self: center; align-self: center;">
                <tr>
                    <td style="width: 100%; text-align: left; vertical-align: middle; justify-items: left;" class="BoxHeadExoFont">
                        &nbsp;
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <!-- WELCOME TEXT -->
    <div class="BoxBlockContent">
        <div class="WelcomeHeadBox FontWelcome">
            <table style="width: 100%; border-collapse:collapse;">
                <tr>
                    <td style="width: 100%; text-align: center; vertical-align: middle;">
                        Time to create a new Angular Service
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="BoxBlockContent">
        <div class="WelcomeBodyBox FontHomeStandard">
            <table style="width: 100%; border-collapse:collapse;">
                <tr>
                    <td style="width: 100%; text-align: center; vertical-align: middle;">
                        This module will help you to generate a<br>new Service for your Workspace
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <!-- ACTION FORM -->
    <!--
    https://v16.angular.io/cli/new
    FOLLOWING OPTIONS ARE CURRENTLY NOT INTEGRATED
    --collection        (unfortunately, don't know what this is or what it does)
    --directory         is this really needed?
    --help
    -->
    <div class="BoxBlockContent">
        <div class="ActionForm FontFormStandard">
            <table style="width: 100%; border-collapse: collapse;">
                <tr>
                    <td style="width: 60%; text-align: left; vertical-align: middle; justify-content: left; padding: 10px 0px 10px 0px;">
                        Name of the Service:
                    </td>
                    <td style="width: 40%; text-align: left; vertical-align: middle; justify-content: left; padding: 10px 0px 10px 0px;">
                        <input id="FieldServiceName" type="text" class="FormInput FontFormInput" required placeholder="My-Global-Service" [(ngModel)]="FieldServiceName" (input)="checkServiceNameLength()">
                    </td>
                </tr>
                <tr>
                    <td style="width: 60%; text-align: left; vertical-align: middle; justify-content: left; padding: 10px 0px 10px 0px;">
                        Create at top level (flat):
                    </td>
                    <td style="width: 40%; text-align: left; vertical-align: middle; justify-content: left; padding: 10px 0px 10px 0px;">
                        <!-- Toggle-Schalter Container -->
                        <div class="switch-container" (click)="toggleTopLvlCfg()">
                        <input type="checkbox" class="switch-checkbox" [(ngModel)]="SetTopLvlCfg" id="SetTopLvlCfg">
                        <label class="switch-slider round" for="toggle-switch"></label>
                        <span class="switch-label">{{ SetTopLvlCfg ? 'On' : 'Off' }}</span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="width: 60%; text-align: left; vertical-align: middle; justify-content: left; padding: 10px 0px 10px 0px;">
                        Project Name:
                    </td>
                    <td style="width: 40%; text-align: left; vertical-align: middle; justify-content: left; padding: 10px 0px 10px 0px;">
                        <input it="FieldProjName" type="text" class="FormInput FontFormInput" placeholder="leave empty to ignore" [(ngModel)]="FieldProjName" (input)="checkServiceNameLength()">
                    </td>
                </tr>
                <tr>
                    <td style="width: 60%; text-align: left; vertical-align: middle; justify-content: left; padding: 10px 0px 10px 0px;">
                        Skip Tests (no <i>spec.ts</i> files):
                    </td>
                    <td style="width: 40%; text-align: left; vertical-align: middle; justify-content: left; padding: 10px 0px 10px 0px;">
                        <!-- Toggle-Schalter Container -->
                        <div class="switch-container" (click)="toggleSpecTScfg()">
                        <input type="checkbox" class="switch-checkbox" [(ngModel)]="UseSpecTScfg" id="UseSpecTScfg">
                        <label class="switch-slider round" for="toggle-switch"></label>
                        <span class="switch-label">{{ UseSpecTScfg ? 'On' : 'Off' }}</span>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <!-- BOTTOM TEXT -->
    <div class="BoxBlockContent">
        <div class="BottomText FontFormStandard">
            <table style="width: 100%; border-collapse:collapse;">
                <tr>
                    <td style="width: 100%; text-align: center; vertical-align: middle;">
                        Just hit the <strong>Create Shell Prompt</strong> Button<br>to generate a prompt from the above config.
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="BoxBlockContent">
        <div class="ActionBox FontActionButton" (click)="createShellPrompt()">
            <table style="width: 100%; height: 100%; border-collapse:collapse;">
                <tr>
                    <td style="width: 15%; height: 100%; text-align: center; vertical-align: middle; display: flexbox;">
                        <ng-icon name="faSolidCode" size="26px"></ng-icon>
                    </td>
                    <td style="width: 85%; height: 100%; text-align: center; vertical-align: middle; display: flexbox;">
                        Create Shell Prompt
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <!-- SPACER -->
    <div class="BoxBlockContent">
        <div class="PageMidSpacer">
            <table style="width: 100%; border-collapse:collapse; justify-self: center; align-self: center;">
                <tr>
                    <td style="width: 100%; text-align: left; vertical-align: middle; justify-items: left;" class="BoxHeadExoFont">
                        &nbsp;
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <!-- Command Shell -->
    <div class="BoxBlockContent" *ngIf="ShowShellWin">
        <div class="BoxShellWindow FontShellWin">
            <table style="width: 100%; border-collapse: collapse; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px;">
                <tr>
                    <td style="width: 5%; height: 30px; background-color: #202020; text-align: left; vertical-align: middle; padding: 4px 5px 4px 5px;">
                        <ng-icon name="faSolidFileCode" size="24px" color="#EFEFEF"></ng-icon>
                    </td>
                    <td style="width: 95%; height: 30px; background-color: #202020; text-align: left; vertical-align: middle; padding: 4px 0px 4px 0px;" class="FontShellHead">
                        Shell
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="width: 100%; height: 60px; background: none; text-align: left; vertical-align: middle; padding: 0px 0px 0px 10px;" class="FontShellBody"  [innerHTML]="AngularCLIcmd">
                        <!-- THE CONTENT WILL BE SET VIA innerHTML -->
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="BoxBlockContent" *ngIf="ShowShellWin">
        <div class="ActionCopy FontActionButton" (click)="copyToClipboard(AngularCLIcmd)">
            <table style="width: 100%; height: 100%; border-collapse:collapse;">
                <tr>
                    <td style="width: 15%; height: 100%; text-align: center; vertical-align: middle; display: flexbox;">
                        <ng-icon name="faSolidClipboardList" size="26px"></ng-icon>
                    </td>
                    <td style="width: 85%; height: 100%; text-align: center; vertical-align: middle; display: flexbox;">
                        Copy to Clipboard
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <!-- SPACER -->
    <div class="BoxBlockContent">
        <div class="PageEndSpacer">
            <table style="width: 100%; border-collapse:collapse; justify-self: center; align-self: center;">
                <tr>
                    <td style="width: 100%; text-align: left; vertical-align: middle; justify-items: left;">
                        &nbsp;
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
