<app-ui-header></app-ui-header>

<div id="BoxMainContent" name="BoxMainContent" class="BoxMainContent">
    <!-- SPACER - THIS ONE IS IMPORTANT TO GET THE DISTANCE FROM THE TO (SO THE CONTENT WILL NOT BE HIDDEN BY THE HEADER) -->
    <div class="BoxBlockContent">
        <div class="PageTopSpacer">
            <table style="width: 100%; border-collapse:collapse; justify-self: center; align-self: center;">
                <tr>
                    <td style="width: 100%; text-align: left; vertical-align: middle; justify-items: left;" class="BoxHeadExoFont">
                        &nbsp;
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <!-- WELCOME TEXT -->
    <div class="BoxBlockContent">
        <div class="WelcomeBox FontWelcome">
            <table style="width: 100%; border-collapse:collapse;">
                <tr>
                    <td style="width: 100%; text-align: center; vertical-align: middle;">
                        Welcome to the<br>Angular CLI DevKit
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="BoxBlockContent">
        <div class="IntroTextBox FontHomeStandard">
            <table style="width: 100%; border-collapse:collapse;">
                <tr>
                    <td style="width: 100%; text-align: center; vertical-align: middle;">
                        Please choose one of the following options
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="BoxBlockContent">
        <div class="ActionBox FontActionButton" routerLink="/generate-full-project" (mouseenter)="SetInfoString('NewProject')" (mouseleave)="SetInfoString('ClearInfos')">
            <table style="width: 100%; height: 100%; border-collapse:collapse;">
                <tr>
                    <td style="width: 15%; height: 100%; text-align: center; vertical-align: middle; display: flexbox;">
                        <ng-icon name="matfFolderProjectColored" size="26px"></ng-icon>
                    </td>
                    <td style="width: 85%; height: 100%; text-align: center; vertical-align: middle; display: flexbox;">
                        Create full Angular Project
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="BoxBlockContent">
        <div class="ActionBox FontActionButton" routerLink="/new-angular-workspace" (mouseenter)="SetInfoString('AngularApp')" (mouseleave)="SetInfoString('ClearInfos')">
            <table style="width: 100%; height: 100%; border-collapse:collapse;">
                <tr>
                    <td style="width: 15%; height: 100%; text-align: center; vertical-align: middle; display: flexbox;">
                        <ng-icon name="matfFolderAngularColored" size="26px"></ng-icon>
                    </td>
                    <td style="width: 85%; height: 100%; text-align: center; vertical-align: middle; display: flexbox;">
                        Create new Angular App
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="BoxBlockContent">
        <div class="ActionBox FontActionButton" routerLink="/generate-new-comp" (mouseenter)="SetInfoString('GenerateComp')" (mouseleave)="SetInfoString('ClearInfos')">
            <table style="width: 100%; height: 100%; border-collapse:collapse;">
                <tr>
                    <td style="width: 15%; height: 100%; text-align: center; vertical-align: middle; display: flexbox;">
                        <ng-icon name="matfFolderSrcColored" size="26px"></ng-icon>
                    </td>
                    <td style="width: 85%; height: 100%; text-align: center; vertical-align: middle; display: flexbox;">
                        Generate new Component
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="BoxBlockContent">
        <div class="ActionBox FontActionButton" routerLink="/generate-new-serv" (mouseenter)="SetInfoString('GenerateServ')" (mouseleave)="SetInfoString('ClearInfos')">
            <table style="width: 100%; height: 100%; border-collapse:collapse;">
                <tr>
                    <td style="width: 15%; height: 100%; text-align: center; vertical-align: middle; display: flexbox;">
                        <ng-icon name="matfFolderConnectionColored" size="26px"></ng-icon>
                    </td>
                    <td style="width: 85%; height: 100%; text-align: center; vertical-align: middle; display: flexbox;">
                        Generate new Service
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="BoxBlockContent">
        <div class="ActionBox FontActionButton" routerLink="/generate-new-appl" (mouseenter)="SetInfoString('GenerateAppl')" (mouseleave)="SetInfoString('ClearInfos')">
            <table style="width: 100%; height: 100%; border-collapse:collapse;">
                <tr>
                    <td style="width: 15%; height: 100%; text-align: center; vertical-align: middle; display: flexbox;">
                        <ng-icon name="matfFolderControllerColored" size="26px"></ng-icon>
                    </td>
                    <td style="width: 85%; height: 100%; text-align: center; vertical-align: middle; display: flexbox;">
                        Generate new App
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="BoxBlockContent">
        <div class="ActionInfoBox FontActionInfos">
            <table style="width: 100%; height: 100%; border-collapse:collapse;">
                <tr>
                    <td style="width: 100%; height: 100%; text-align: center; vertical-align: top; justify-items: center;" [innerHTML]="ViewInfoAbout">
                        <!-- THIS COMES FROM THE TS-FILE -->
                        <!--
                        WE DO NOT USE {{ ViewInfoAbout }} ANYMORE. REASON: WE CANNOT PROVIDE HTML-CODE.
                        THAT'S WHY WE REMOVED IT AND REPLACED IT WITH [innerHTML]="ViewInfoAbout".
                        WITH THIS CODE, THE TABLE WILL RENDER THE HTML-CODE INSIDE THE STRING
                        -->
                        <!-- {{ ViewInfoAbout }} -->
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <!-- SPACER -->
    <!--
    <div class="BoxBlockContent">
        <div class="BottomSpacer">
            <table style="width: 100%; border-collapse:collapse; justify-self: center; align-self: center;">
                <tr>
                    <td style="width: 100%; text-align: left; vertical-align: middle; justify-items: left;" class="BoxHeadExoFont">
                        &nbsp;
                    </td>
                </tr>
            </table>
        </div>
    </div>
    -->
</div>
