<div id="GlassMorphBox" name="GlassMorphBox" class="GlassMorphBox" *ngIf="ModalWin.Vmode == true">
    <div id="DialogBox" name="DialogBox" 
    [ngStyle]="{
        'width': ModalWin.SizeX,
        'height': ModalWin.SizeY,
        'top': 'calc(50% - ' + ModalWin.SizeY + ' / 2)',
        'left': 'calc(50% - ' + ModalWin.SizeX + ' / 2)',
    }" class="DialogBox">
    <table style="width: 100%; height: 100%; margin: 0px; padding: 0px; border: none; border-collapse: collapse;">
        <tr>
            <td style="width: 50px; height: 36px; text-align: center; vertical-align: middle;">
                <ng-icon name="faSolidCircleInfo" size="32px" color="#303030" *ngIf="ModalWin.Image == 'info'"></ng-icon>
                <ng-icon name="faSolidTriangleExclamation" size="32px" color="#303030" *ngIf="ModalWin.Image == 'warn'"></ng-icon>
                <ng-icon name="faSolidCircleXmark" size="32px" color="#303030" *ngIf="ModalWin.Image == 'stop'"></ng-icon>
                <ng-icon name="faSolidCircleQuestion" size="32px" color="#303030" *ngIf="ModalWin.Image == 'quest'"></ng-icon>
            </td>
            <td style="width: 100%; text-align: left; vertical-align: middle; padding-left: 10px;" class="FontModalWinHead">
                <strong>{{ModalWinHeadText}}</strong>
            </td>
        </tr>
        <tr>
            <td colspan="2" style="width: 100%; height: auto; text-align: center; vertical-align: middle; text-wrap: pretty;" class="FontModalWinBody" [innerHTML]="ModalWinBodyText">
                <!-- CONTENT WILL BE PLACED AS INNER HTML -->
            </td>
        </tr>
        <tr>
            <td colspan="2" style="width: 100%; height: 30px; text-align: center; vertical-align: middle;">
                <button class="DialogButton" (click)="HideModalWin()"><strong>OKAY</strong></button>
            </td>
        </tr>
    </table>
    </div>
</div>