.appGUIheader {
display: flex;              // USE A GRID-LAYOUT FOR THE MAIN-DIV
align-content: start;       // ALIGN THE CONTENT VERTICAL AT THE TOP
justify-content: center;    // ALIGN THE CONTENT HORIZONTALLY IN THE CENTER
position: absolute;         // WE NEED AN ABSOLUTE POSITION, TO MAKE USE OF TOP,LEFT,RIGHT,BOTTOM
top: 0;
left: 0;
right: 0;
height: 60px;
overflow: hidden;
margin: 0px 0px 0px 0px;    // TOP LEFT BOTTOM RIGHT
padding: 0px 0px 0px 0px;
background-color: #414141;
border: none;
z-index: 500;
}

.FontAppName {
    font-family: 'Red Hat Display', sans-serif;
    font-size: 26px;
    font-weight: 400;
    color: rgba(222, 222, 222, 0.75);
    text-align: left;
    vertical-align: middle;
}

.HeaderNavIcons {
    color: #ADADAD;
    transition: color 1s ease;
}
.HeaderNavIcons:hover {
    color: #DEDEDE;
    cursor: pointer;
}
